<div class="contents">
  <%= link_to "新規投稿", new_rental_path %>
  <div class="table">
    <table>
    <caption><h3>鍵貸し出し状況</h3></caption>
      <tr style="background:#ccccff">
        <th>日付</th>
        <th>責任者</th>
        <th>部屋名</th>
        <th>貸し出し時間</th>
        <th>返却/差し替え時間</th>
        <th>動画</th>
        <th>編集・削除</th>
      </tr>
        <% @rentals.each do |rental| %>
          <tr>
            <td><%= rental.show_date %></td>
            <td><%= rental.user.last_name + rental.user.first_name %></td>
            <td><%= rental.room_id %></td>
            <td><%= rental.show_rent_time %></td>
            <td><%= rental.show_return_time %></td >
            <td>未提出</td>
            <td>
            <% if user_signed_in? && current_user.id == rental.user_id %>
            <%= link_to '削除', "/rentals/#{rental.id}", method: :delete %>
            <%= link_to '編集', "/rentals/#{rental.id}/edit", method: :get %>
            <% end %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
</div>