<div class="contents">
  <h2>新規投稿</h2>
  <%= form_for @rental do |f| %>
    <div style="margin: 8px 0">
      <%= f.label "部屋", style: { 'margin-right' => 8 } %>
      <%= f.select :room_id, [["音1", "0"], ["音2", "1"], ["音3", "2"], ["音4", "3"], ["音5", "4"], ["音6", "5"], ["合A", "6"], ["合B", "7"], ["合C", "8"], ["合D", "9"], ["合E", "10"], ["集1", "11"], ["集2", "12"]] %>
    </div>

    <div class="action_id">
      <%= f.label "用途", style: { 'margin-right' => 8 } %>
      <%= f.select :door_state, [["貸出", "0"], ["返却", "1"], ["差し替え", "2"]] %>
    </div>

      <div class="open_close">
        <div style="margin: 8px 0" class="time door_state_0 selected" >
          <%= f.label "時間", style: { 'margin-right' => 8 } %>
          <%= f.time_field :rent_time %>
        </div>

        <div style="margin: 8px 0" class="time door_state_1">
          <%= f.label "時間", style: { 'margin-right' => 8 } %>
          <%= f.time_field :return_time %>
        </div>

        <div style="margin: 8px 0" class="time door_state_2">
          <%= f.label "時間", style: { 'margin-right' => 8 } %>
          <%= f.time_field :return_time %>

          <%= f.label "団体名", style: { 'margin-right' => 8 } %>
          <%= f.text_field :groupname %>
        </div>
      </div>
    <%= f.submit "送信", class: "btn btn-primary withripple" %>
  <% end %>
<%= link_to "一覧へ戻る", root_path %>
</div>