<div class="contents">
  <h2>新規投稿</h2>
  <%= form_for @rental do |f| %>
    <div style="margin: 8px 0">
      <%= f.label "部屋"%>
      <%= f.select :room_id, [["部室", "1"], ["音1", "2"], ["音2", "3"], ["音3", "4"], ["音4", "5"], ["音5", "6"], ["音6", "7"], ["合A", "8"], ["合B", "9"], ["合C", "10"], ["合D", "11"], ["合E", "12"], ["集1", "13"], ["集2", "14"]], {}, class: "withripple", style: "border: 1px solid #ddd" %>
    </div>

        <div style="margin: 8px 0;" class="time door_state_0 selected" >
          <%= f.label "貸出時間", style: 'margin-right: 8'  %>
          <%= f.time_field :rent_time, class: "btn btn-default withripple btn-sm" %>
        </div>

    <%= f.submit "送信", class: "btn btn-primary withripple" %>
  <% end %>
<%= link_to "一覧へ戻る", root_path %>
</div>