<!DOCTYPE html>
<html>
<head>
  <title>Keymanager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header">
    <div class="header_bar">
      <h1 class="grid-6"><a href="/">Wagner Keymanager</a>
      </h1>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
  </header>

<%= yield %>

</body>
</html>
